@import "./common.scss";

header {
    .mdl-layout-title {
        font-weight: 3em;
        font-weight: bold;
        letter-spacing: 1px;
        img {
            width: 3em;
            margin-right: 5px;
        }
    }

    .mdl-navigation__link {
        &.active {
            font-weight: bold;
            position: relative;
            &:after {
                height: 4px;
                width: 100%;
                display: block;
                content: " ";
                bottom: 0;
                left: 0;
                position: absolute;
                background: #fff;
            }
        }
    }
}