html, body {
    font-size: 16px;
    font-family: "Proxima Nova Soft", serif;
    line-height: 1.4em;
    color: #656a72;
}
.text-center {
    text-align: center;
}
.padding {
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    max-width: 1200px;
    margin: auto;
}

img {
    max-width: 100%;
}