<footer class="mdl-mega-footer">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="about">
                    <span>Scheduly makes scheduling simpler for everybody.</span>
                    <span class="copyright">
                        ©&nbsp;<span id="footer-year">2018</span>&nbsp;Scheduly
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
document.getElementById('footer-year').innerHTML = new Date().getFullYear();
</script>