<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
            <img src="./img/logo.png">Scheduly
        </span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <% if (!isLoggedIn) { %>
            <a class="mdl-navigation__link" href="/signup"><i class="fas fa-user-plus"></i>&nbsp;Sign Up</a>
            <a class="mdl-navigation__link" href="/login"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign In</a>
            <% } else { %>
            <a href="/logout" class="mdl-navigation__link"><i class="fas fa-sign-out-alt"></i> &nbsp;Log Out</a>
            <a href="/dashboard" class="mdl-navigation__link"><i class="fas fa-user-circle"></i>&nbsp;My Account</a>
            <% } %>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Scheduly</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>