html, body {
  font-size: 16px;
  font-family: "Proxima Nova Soft", serif;
  line-height: 1.4em;
  color: #656a72; }

.text-center {
  text-align: center; }

.padding {
  padding-left: 15px;
  padding-right: 15px; }

.container {
  max-width: 1200px;
  margin: auto; }

img {
  max-width: 100%; }

header .mdl-layout-title {
  font-weight: 3em;
  font-weight: bold;
  letter-spacing: 1px; }
  header .mdl-layout-title img {
    width: 3em;
    margin-right: 5px; }

header .mdl-navigation__link.active {
  font-weight: bold;
  position: relative; }
  header .mdl-navigation__link.active:after {
    height: 4px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #fff; }
