.padding {
    padding-left: 15px;
    padding-right: 15px;
}

header .mdl-navigation__link.active {
    font-weight: bold;
    position: relative;
}

header .mdl-navigation__link.active:after {
    height: 4px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #fff;
}