<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
</head>
<body> 
    <div class="mdl-layout mdl-js-layout">
        <%- include("../partials/header") %>

        <main class="mdl-layout__content">
            <div class="mdl-grid container">
                
                <div class="mdl-cell mdl-cell--7-col">
                    <h2>Scheduly helps you schedule meetings without the back-and-forth emails</h2>
                    <p><i class="fas fa-star"></i>    &nbsp;Get started for free and always free</p>
                    <a href="/signup" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Get Start</a>
                    <div data-ui-role="content">loading ....</div>
                </div>
                <div class="mdl-cell mdl-cell--5-col">
                    <img src="https://assets.calendly.com/assets/landing/homepage/hero-829da70d61c3fc165d69de57bdda58ae45b46fd5436ff022e34ffede540b9404.jpg" max-width="100%">
                </div>
            </div>
            
        </main>
        <% include ../partials/footer %>
        
    </div>
    <script>
        window.APP_STATE = {app: "/"};
    </script>
    <script src="../scripts/bundle.js"></script>
</body>
</html>