<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
</head>
<body> 
    <% include ../partials/header %>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> <%= title %></h1>

            <p>Login or Register here:</p>
            <% if (isLoggedIn) { %>
                <a href="/logout" class="btn btn-secondary"><span class="fa fa-user"></span> Logout</a>
            <% } else { %>
            <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Local Login</a>
            <% } %>
            <a href="/signup" class="btn btn-info"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
    <% include ../partials/footer %>
</body>
</html>