<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <%- include("../partials/account_header", {currentPath: currentPath, currentUser: currentUser}) %>

        <main class="mdl-layout__content padding">
            <div class="page-content">
                lorem   
            </div>
        </main>

        <%- include("../partials/account_footer")%>
    </div>
</body>
</html>